{# templates/forms/add_address.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dodaj adres dla {{ person.name }} {{ person.surname }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.street) }}
    {{ form_row(form.street_number) }}
    {{ form_row(form.flat_number) }}
    {{ form_row(form.postal) }}
    {{ form_row(form.city) }}
    <button type="submit" class="btn btn-success">Dodaj</button>
    {{ form_end(form) }}
    <a href="{{ path('homepage') }}" class="btn btn-primary">Powrót do listy osób</a>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const postalInput = document.querySelector('#adress_postal');
            Inputmask({"mask": "99-999", "placeholder": "__-___",}).mask(postalInput);
        });
    </script>
    
    
{% endblock %}

