{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edytuj osobę</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Zapisz</button>
    {{ form_end(form) }}

    <div style="margin-top: 15px;">
        <a href="{{ path('homepage') }}" class="btn btn-primary">Powrót do listy osób</a>
        <a href="{{ path('delete_person', {'id': person.id}) }}" onclick="return confirm('Czy na pewno chcesz usunąć tę osobę?');" class="btn btn-danger">Usuń</a>
    </div>
{% endblock %}
