{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edytuj adres</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.postal, 'Kod pocztowy') }}
        {{ form_widget(form.postal, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.postal) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.city, 'Miasto') }}
        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.city) }}
    </div>

    <div class="form-group">
        {{ form_label(form.street, 'Ulica') }}
        {{ form_widget(form.street, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.street) }}
    </div>

    <div class="form-group">
        {{ form_label(form.street_number, 'Numer domu') }}
        {{ form_widget(form.street_number, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.street_number) }}
    </div>

    <div class="form-group">
        {{ form_label(form.flat_number, 'Numer mieszkania') }}
        {{ form_widget(form.flat_number, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.flat_number) }}
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Zapisz zmiany</button>
    </div>

    {{ form_end(form) }}

    <div>
         <a href="{{ path('homepage') }}" class="btn btn-primary">Powrót do listy osób</a>
        <a href="{{ path('delete_address', {'addressId': address.id}) }}" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć ten adres?')">Usuń adres</a>
    </div>
{% endblock %}
